{% extends 'base.html.twig' %}

{% block body %}
    <main id="login">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

        <form action="{{ path('login_check') }}" method="post" class="box form small-form">
            <div class="form-row">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required />
            </div>

            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" required />
            </div>

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn">Login</button>
        </form>
    </main>
{% endblock body %}