{% extends 'base.html.twig' %}

{% block title %}Not Found{% endblock title %}

{% block body %}
    <main id="error" class="box">
        <h1>Not Found</h1>

        <div class="inner">
            <p>The resource you're looking for doesn't exist.</p>
            <a href="/">Go back to the dashboard</a>
        </div>
    </main>
{% endblock body %}