{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock title %}

{% block body %}
    <main id="error" class="box">
        <h1>Access Denied</h1>

        <div class="inner">
            <p>You don't have permission to access this resource.</p>
            <a href="/">Go back to the dashboard</a>
        </div>
    </main>
{% endblock body %}